name: Tests

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Playwright Browsers
      run: |
        playwright install

    - name: Start Flask App
      run: |
        flask run --host=0.0.0.0 --port=5000 &
      env:
        FLASK_APP: app.py
        FLASK_ENV: development

    - name: Wait for Flask to be ready
      run: |
        for i in {1..10}; do
          if nc -zv 127.0.0.1 5000; then
            echo "Flask is ready!"
            break
          fi
          echo "Waiting for Flask..."
          sleep 3
        done

    - name: Run tests with coverage
      run: |
        pytest --cov --cov-report=xml tests/

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

